@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* direction: rtl; */
    max-width: 1950px;
    margin: 0 auto;
}

*{
    /* border: 1px red solid; */
}
/* .swiper-pagination-bullets{
    bottom: -30px !important;
} */


.bodyscroller::-webkit-scrollbar {
    width: 6px;
  }
  
  .bodyscroller::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .bodyscroller::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 100px;
  }